 
    {{> navbar}}
 <main class="container py-5">
    <section class="row align-items-center">
        <!-- Texto, título e botão -->
        <div class="col-md-6">
            <h1 class="main-title">BANHO e TOSA</h1>
            <h3 class="subtitulos">O cuidado que seu pet merece!</h3>
            <a href="/login" style="text-decoration: none; color: #ffffff;">
                <button class="btnhome">Agende já</button>
            </a>
        </div>

        <!-- Imagem -->
        <div class="col-md-6 text-center">
            <img src="img/cachorro_banho.jpg" alt="Golden Retriever tomando banho" class="img-fluid rounded">
        </div>
    </section>

    <section class="mt-5" style="font-size: 20px;">
        <div class="col-md-10 mx-auto">
            <h3 class="text-center mb-4 subtitulos">A higiene do seu bichinho é indicada pelos veterinários</h3>
            <ul class="list-unstyled label-title">
                <li><img src="img/patinhas.png" alt="" class="patas-homo"> Evita infecções e alergias causadas por sujeira e parasitas.</li>
                <li><img src="img/patinhas.png" alt="" class="patas-homo"> A higiene adequada contribui para o bem-estar e saúde do animal.</li>
                <li><img src="img/patinhas.png" alt="" class="patas-homo"> Banhos e cuidados ajudam a combater pulgas, carrapatos e outros parasitas.</li>
                <li><img src="img/patinhas.png" alt="" class="patas-homo"> A higiene regular facilita a identificação de feridas, nódulos ou sinais de doença.</li>
            </ul>
        </div>
    </section>

    <section class="mt-5">
        <h3 class="text-center mb-4 subtitulos">Conheça as etapas do banho</h3>
        <div class="d-flex flex-wrap label-title" style="justify-content: space-evenly;">
            <div class="icon-card">
                <img src="img/tomando-banho.png" alt="Banho" style="padding-top: 15px;">
                <p>Banho</p>
            </div>
            <div class="icon-card">
                <img src="img/secagem.png" alt="Secagem" style="padding-top: 15px;">
                <p>Secagem</p>
            </div>
            <div class="icon-card">
                <img src="img/escova-pet.png" alt="Escovação" style="padding-top: 15px;">
                <p>Escovação</p>
            </div>
            <div class="icon-card">
                <img src="img/corta-unhas.png" alt="Corte de Unhas" style="padding-top: 15px;">
                <p>Corte de unhas</p>
            </div>
        </div>
    </section>
</main>
